<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/fox.png" width="50" height="60"  class="d-inline-block align-center" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav myFonts">
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/">Contacts <span class="sr-only"></span></a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
            <a class="nav-link" routerLink="/add">Add Contact</a>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink='/search'>Search Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  